     <ion-view title="'Welcome'" left-buttons="leftButtons" hide-nav-bar="true">
     <ion-pane>
		<div class="bar bar-header item-input-inset">
			<div class = "buttons">
			<button class="button button-icon icon ion-ios-arrow-back" onClick="location='../index.html'" style="text-align:left;padding-right:20px"></button>
			</div>
			<!--div class="title item-input-inset"-->
			  <label class="item-input-wrapper">
				<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" placeholder="Search">
				<!--button class="button button-icon icon ion-ios-mic-outline" style="text-align:right">
				</button-->
			  </label>
			  <button class="button button-clear">
				Cancel
			  </button>			  
			<!--/div-->
		</div>
		
		<ion-content scroll-event-interval="5">
        <!--ion-content has-header="true" padding="true"-->
		<div style="height: 64px;"></div>

<div class="sidebar">
<gcse:searchbox></gcse:searchbox>
</div>

<div class="main-content">
  <gcse:searchresults></gcse:searchresults>
</div>

		</ion-content>
	</ion-pane>
	</ion-view>