     <ion-view title="'Welcome'" left-buttons="leftButtons" hide-nav-bar="true">
     <ion-pane>
		<nav mfb-menu position="br" effect="zoomin"
			 active-icon="ion-close-round" resting-icon="ion-edit"
			 toggling-method="click">
			 <button mfb-button mfb-button-close icon="ion-android-search" onClick="parent.location='search/search.html'"></button>
			 <button mfb-button mfb-button-close icon="ion-plus-round"></button>
		</nav>
		<ion-content ng-controller="ContentCtrl">
			<!--ion-toggle ng-model="shouldShowCheck"></ion-toggle-->
			<ion-list can-swipe="true">
			  <div class="item item-divider">
				自行新增的
			  </div>
			 <ion-item ng-click="search(item)" ng-repeat="item in myItems" class="item item-icon-right">
				<!--ion-checkbox ng-model="isChecked" style="border:none;padding-top:2px;padding-bottom:2px;padding-right:2px;padding-left:30px;position:relative;left:0;margin:0%;size:100%;"-->
				<label class="item-checkbox" ng-model="item.checked" ng-click="vm.checkbox()" style="position:absolute;left:0px;top:0px;bottom:0px;width:50px;height:50px;">
				<!--div class="checkbox checkbox-input-hidden disable-pointer-events"-->
				<div class="checkbox checkbox-input-hidden disable-pointer-events">
				<input type="checkbox">
				<i class="checkbox-icon"></i>
				</div>
				</label>
				<div onclick="location='search/search.html'" style="position:absolute;left:50px;top:0px;bottom:0px;right:0px;width:inherit;height:50px;"></div>
				<span style="margin-left:50px;">{{item}}</div>
				<!--i class="icon ion-ios-arrow-right"></i-->
				<!--/ion-checkbox-->
				<ion-option-button class="ion-trash-a icon-right button-assertive" ng-click="delete(item)">
				Delete
				</ion-option-button>
				</ion-item>
			</ion-list>
			<ion-list>
			  <div class="item item-divider">
				相片剛剛說的
			  </div>
			  <ion-item ng-click="search(item)" ng-repeat="item in sysItems" class="item item-icon-right">
				<!--ion-checkbox ng-click="search(item)" ng-model="isChecked" ng-repeat="item in sysItems"-->
				<label class="item-checkbox" ng-model="item.checked" ng-click="vm.checkbox()"  style="position:absolute;left:0px;top:0px;bottom:0px;width:50px;height:50px;">
				<div class="checkbox checkbox-input-hidden disable-pointer-events">
				<input type="checkbox">
				<i class="checkbox-icon"></i>
				</div>
				</label>
				<div onclick="location='search/search.html'" style="position:absolute;left:50px;top:0px;bottom:0px;right:0px;width:inherit;height:50px;"></div>
				<span style="margin-left:50px;">{{item}}</span>
				<!--/ion-checkbox-->
			  </ion-item>
			</ion-list>
		</ion-content>
	</ion-pane>
	</ion-view>