     <ion-view title="'Landscape'" left-buttons="leftButtons" hide-nav-bar="true">
     <ion-pane>
		<ion-content ng-controller="LandCtrl">
			<bars-chart chart-data="myData"  ></bars-chart>
			<!--ion-list>
			  <div class="item item-divider">
				自行新增的
			  </div>
			  <ion-item ng-repeat="item in myItems">
				{{degrees}}
			  </ion-item>
			  <div class="item item-divider">
				相片剛剛說的
			  </div>
			  <ion-item ng-repeat="item in sysItems">
				{{item}}
			  </ion-item>
			</ion-list-->
		</ion-content>
	</ion-pane>
	</ion-view>